*.sublime-project
*.sublime-workspace

__pycache__/
__pycache__/*

*.crt
*.key
*.csr


data/*
!data/README.md

case/*

state.json
performance.json
config.json

venv/*

.env

.github/

.ipynb_checkpoints/
*-checkpoint.py
*-checkpoint.ipynb

jupyter_notebooks/*