[Unit]
Description=Kasa smart plug data logger
After=network.target
Wants=network.target

[Service]
ExecStart=/home/drux/demandResponse_UX_research/venv/bin/python /home/drux/demandResponse_UX_research/services/plug_logger.py
WorkingDirectory=/home/drux
StandardOutput=inherit
StandardError=inherit
Restart=always
User=drux

[Install]
WantedBy=multi-user.target
