<!DOCTYPE html>
<html>
<head>
    <title>DR UX</title>
    <meta http-equiv="refresh" content="60" />
    <link rel="stylesheet" href="/static/css/drux.css">
</head>
<body>
    <nav>
      <div class="left-links">
        <a href="/">home</a>
        <a href="/today">raw data</a>
      </div>
      <div class="right-content">
        <a href="https://www.communityvirtualpowerplant.com/drux">DRUX</a>
      </div>

    </nav>

    <div class='raw-data'>

        <h1>Today's Data</h1>
        <p>
            Download CSV file with /api/data?file=FILENAME_WITH_NO_SUFFIX&source=plugs<br>
            View file list with /api/files
        </p>
        <p>
            <a href="/today?source=plugs">Smart Plugs</a> | <a href="/today?source=powerstation">Battery</a>
        </p>
        <table>
            <tr>
            {% for c in cols %}
                <th>{{ c }}</th>
            {% endfor %}
            </tr>
            {% for row in data %}
            <tr>
                {% for d in row %}
                    <td>{{ d }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
    <p>Auto-refreshes every 60 seconds</p>
</body>
</html>