<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>DR UX</title>
    <link rel="stylesheet" href="/static/css/drux.css">

    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.9.0/p5.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-3.0.1.min.js" charset="utf-8"></script>
  </head>
  <body>
    <nav>
      <div class="left-links">
        <a href="/">home</a>
        <a href="/today">raw data</a>
      </div>
      <div class="right-content">
        <a href="https://www.communityvirtualpowerplant.com/drux">DRUX</a>
      </div>

    </nav>

    <main>
        
      <p>
        <strong>Event Status:</strong> <div id="eventStatus">None</div>
      </p>
      
      <p>
        Looks like you just started... Check back in a day or two to see your data...
      </p>

      <!-- <h3>How your performance is measured</h3>
      <h3>How your payment is calculated</h3>

      

      <h3>Your Data</h3>

      <<div class = plot-container>
        <div id="plotPower"></div>
        <div id="plotEnergy"></div>
      </div> -->


<!--         <h3>Demand Response</h3>
      event upcoming
      event ongoing/ time remaining
      commitment % met
      amount flexed
      baseline
      daily specs -->

    </main>

    <!-- <script src="/static/js/sps_animation.js"></script>
    <script src="/static/js/control_info.js"></script>
    <script src="/static/js/plot_power.js"></script -->>
  </body>
</html>
