<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>DR UX</title>
    <link rel="stylesheet" href="/static/css/drux.css">

    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.9.0/p5.min.js"></script> -->
    <script src="https://cdn.plot.ly/plotly-3.0.1.min.js" charset="utf-8"></script>
  </head>
  <body>
    <nav>
      <div class="left-links">
        <a href="/">home</a>
        <a href="/today?source=plugs">raw data</a>
      </div>
      <div class="right-content">
        <a href="https://www.communityvirtualpowerplant.com/drux">DRUX</a>
      </div>

    </nav>

    <main>
        
      <div id="status-container">
        <strong>Event Status:</strong> <span id="eventStatus">None</span>
      </div>

      <h3>Your Data</h3>

      <div class = plot-container>
        <div id="plotPower"></div>
      </div>


      <h3>Event Performance</h3>
      <div id='value'>Estimated Total August Value: $<span id=totValue>0</span></div>

      <div id='eventContainer'>
        <div class='typeContainer'>
          <h4>CSRP</h4>
          <div>
            CSRP events provide 21 hours advanced notice and always occur between 4pm-8pm.
          </div>
          <div>Value: $<span id='csrpValue'>0</span>/month</div>
          CSRP Events:
          <span id='eventDatesCSRP'>None</span>
        </div>
        <div class='typeContainer'>
          <h4>DLRP</h4>
          <div>
            DLRP events provide 2 hours advanced notice and can happen anytime between 10am-8pm.
          </div>
          <div>Value: $<span id='dlrpValue'>0</span>/month</div>
          DLRP Events:
          <span id='eventDatesDLRP'>None</span>
        </div>
      </div>

      <!-- This should show specific event performance w/ baseline -->
      <div class = plot-container>
        <div id="plotEvent"></div>
        Your baseline load (blue) is the average power you consumed in that hour in the proceeding time period. The event load (orange) is the power you consumed in that hour during the event. If you're performance was 100% and you didn't consume any energy in that hour, you will not see any orange.
      </div>

    </main>

    <script src="/static/js/getState.js"></script>
    <script src="/static/js/plot_power.js"></script>
    <script src="/static/js/events.js"></script>
  </body>
</html>
